.OnasBlurosss{
    width: 430px;
    height: 360px;
    left: 5%;
    top:  10%;
    opacity: 1;   
    z-index: 20;
    background-color: #A05A96;
  position: absolute;
  border-radius: 50%;
  filter: blur(320px);
  z-index: 3;
   }