.TreninkBlurosss{
    width: 450px;
    height: 340px;
    right:15%;
    bottom:  0%;
    opacity: 1;   
    z-index: 20;
    background-color: #A05A96;
  position: absolute;
  border-radius: 50%;
  filter: blur(280px);
  z-index: 1;
   }
   .TreninkBlurosssTop{
    width: 450px;
    height: 340px;
    left:5%;
    top:  0%;
    opacity: 1;   
    z-index: 20;
    background-color: #A05A96;
  position: absolute;
  border-radius: 50%;
  filter: blur(280px);
  z-index: 1;
   }
   @media(max-width:768px){
    .TreninkBlurosss{
      width: 250px;
      height: 250px;
      filter: blur(150px);
    }
   }